body {
      background-color: SandyBrown;
}

h1 {
    color:DodgerBlue;
    font-family: couriernew;
    background-color: yellow;
    border: 5px solid purple;
    padding: 25px; 
    text-transform: uppercase;
    font-size: 40px;
}

h3 {
    color: DodgerBlue;
    font-family: helvetica;
    background-color: yellow;
    border: 3px solid purple;
}

.aim {
      font-family: tahoma;
      background-color: seashell;
      border: 3px solid purple;
}

.link {
    background-color: seashell;
    border: 3px solid purple;
    font-family: tahoma;
}

h4 {
    font-size: 30 px;
    font-family: helvetica;
}

.thanks {
    background-color:seashell;
    border: 3px solid purple;
    font-family: tahoma;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
  }
